<!-- home.component.html -->

<div class="home">
  <div class="intro">
    <h1>Mahak Patel</h1>
    <p>
      Mahak Patel is a designer specializing in building brands and creating digital experiences. 
      He likes to solve problems and design solutions that leave an impact on people's lives.
    </p>
    <button class="resume-btn">Resume</button>
  </div>

  <div class="projects">
    <div class="project-card">
      <div class="project-card-header">
        <h2>Amazon Prime</h2>
        <p>Heuristic Evaluation, Usability Testing, Affinity Mapping</p>
      </div>
      <button class="view-project-btn">View Project</button>
    </div>

    <div class="project-card">
      <div class="project-card-header">
        <h2>Citi Bank 🔒</h2>
        <p>Heuristic Evaluation, Prototyping, Usability Testing</p>
      </div>
      <button class="view-project-btn">View Project</button>
    </div>

    <div class="project-card">
      <div class="project-card-header">
        <h2>CanSTEM</h2>
        <p>Competitive Analysis, Service Design, Usability Testing</p>
      </div>
      <button class="view-project-btn">View Project</button>
    </div>

    <div class="project-card">
      <div class="project-card-header">
        <h2>Byblos</h2>
        <p>User Research, Wireframing and Prototyping, Usability Testing</p>
      </div>
      <button class="view-project-btn">View Project</button>
    </div>

    <div class="project-card">
      <div class="project-card-header">
        <h2>Humber Esports</h2>
        <p>Heuristic Evaluation, Usability Testing, Affinity Mapping</p>
      </div>
      <button class="view-project-btn">View Project</button>
    </div>

    <div class="project-card">
      <div class="project-card-header">
        <h2>Accenture 🔒</h2>
        <p>Heuristic Evaluation, Prototyping, Usability Testing</p>
      </div>
      <button class="view-project-btn">View Project</button>
    </div>

    <div class="project-card">
      <div class="project-card-header">
        <h2>Style Sphere</h2>
        <p>User Research, Wireframing and Prototyping, Usability Testing</p>
      </div>
      <button class="view-project-btn">View Project</button>
    </div>
  </div>
</div>
